<%= render 'application/sidebar' %>
<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>
<div class = "big_ui">
  <div class="ui segment">
    <% @messages.each do |message| %>
      <% if message.user_id == current_user.id %>
        <div class="sender-messages">
          <div class="dm-user">
            <strong><%= message.user.name %></strong><span class='space'><i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <div class="list">
            <div class="sender-item">
              <% if message.user == current_user %>
                <p><%= safe_join_default(message.body) %></p>
                <span><%= '未読/' unless message.read? %></span>
              <% end %>
            </div>
            <%= l message.created_at, format: :short %>
          </div>
        </div>
      <% else %>
        <div class="recipient-messages">
          <div class="dm-user">
            <i class="fa fa-user" aria-hidden="true"></i><span class='small-space'><strong><%= message.user.name %></strong>
          </div>
          <div class="list">
            <div class="recipient-item">
              <p><%= safe_join_default(message.body) %></p>
            </div>
            <%= l message.created_at, format: :short %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="field_message">
    <%= form_with(model: [@conversation, @message]) do |f| %>
      <%= f.text_area :body, class: "form-control",placeholder: 'メッセージを100文字以内で送ってみよう' %>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
      <%= f.submit "メッセージを送る",class:"btn-outline-success" %>
    <% end %>
  </div>
</div>