<%= render'application/sidebar' %>
<div class = "content_index">
  <div class="search_box">
    <h3>お気に入り一覧</h3>
    <%= image_tag(current_user.image.to_s) %>
    <%= current_user.name %>
  </div>

  <div class= 'content_target'>
    <% @favorites.each do |favorite| %>
      <%= link_to post_path(favorite.post.id), class:' post-color','data-turbolinks': false do %>
        <div class ="index_container alert alert-info">
          <p><%= image_tag(favorite.post.image.to_s) %></p>
          <ul class = "sid_content">
            <li><%= favorite.user.name %></li>
            <li><%= favorite.post.title %></li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>