<%= render'application/sidebar' %>
<div class = "content_index">
  <div class = "content_inner">
    <div class="search_box">
      <h3>お気に入り一覧</h3>
    </div>
    <%= paginate @favorites %>
    <div class= 'content_target_favorite'>
      <% @favorites.each do |favorite| %>
        <%= link_to post_path(favorite.post.id), class:' post-color','data-turbolinks': false do %>
          <div class ="index_container alert alert-info">
            <p><%= image_tag(favorite.post.image.to_s) %></p>
            <ul class = "sid_content">
              <li  class="text-break"><span class="color">ユーザー名:</span><br><%= favorite.user.name %></li>
              <li  class="text-break"><span class="color">タイトル:</span><br><%= favorite.post.title %></li>
              <li  class="text-break"><span class="color">内容:</span><br><%= favorite.post.content %></li>
              <li  class="text-break"><span class="color">住所:</span><br><%= favorite.post.address %></li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


