

<div class ='user_icon'><%= image_tag(@user.image.to_s) %>
  <%= @user.name %>
</div>

<% @users.each do |user| %>
  <%= link_to post_path(user), class:' post-color','data-turbolinks': false do %>

    <div class = 'user_all_index'>
      <p><%= user.title %></p>
      <p><%= image_tag(user.image.to_s )%></p>
      <p><%= user.content %></p>
      <p><%= user.address %></p>
    </div>

  <% end %>
<% end %>
<%= render 'follow_form', user: @user unless current_user == @user %>
<%= render 'application/sidebar' %>