<%= render 'application/sidebar' %>
<div class = 'content_index'>
  <div class = "content_inner">
    <div class="edit_edit">
      <%= link_to 'プロフィール編集', edit_user_registration_path,class:"btn btn-outline-warning" %>
    </div>
      <div class="search_box">
        <% if current_user.id == @user.id %>
          <h3>Myプロフィール</h3>
        <% else %>
          <h3><%= @user.name %>さんのページ</h3>
        <% end %>
        <div class="user_show_inner">
          <div class="user_icon_name">
            <%= image_tag(@user.image.to_s) %>
            <p>ユーザー名:<span class="user_name"><%= @user.name %></span></P>
          </div>
          <div class = 'user_show_box'>
            <% if current_user == @user %>
              <%= link_to "フォロー:#{@user.following.count}", following_user_path(@user) %>
              <%= link_to "フォロワー:#{@user.followers.count}", followers_user_path(@user) %>
            <% else %>
              <%= render 'follow_form', user: @user unless current_user == @user %>
              <%= link_to conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post do %>
                <p class="btn btn-primary"><i class="fa fa-envelope-o " aria-hidden="true"></i>DMを送ってみる</p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <%= paginate @users %>
    <div class= 'content_target_user'>
      <% @users.each do |user| %>
        <%= link_to post_path(user), class:' post-color','data-turbolinks': false do %>
          <div class = 'index_container alert alert-info'>
            <p><%= image_tag(user.image.to_s )%></p>
              <ul class = "sid_content">
                <li class="text-break"><span class="color">タイトル:</span><br><%= user.title %></li>
                <li class="text-break"><span class="color">内容:</span><br><%= user.content %></li>
                <li class="text-break"><span class="color">住所:</span><br><%= user.address %></li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
