<%= form_with(model: @post, local: true) do |f| %>
  <dl class = 'form_point'>
    <dt><%= f.label :title %></dt>
    <dd><%= f.text_field :title,placeholder:"タイトルを30文字まで入力可" %></dd>
    <br>
    <dt><%= f.label :content %></dt>
    <dd><%= f.text_area :content ,placeholder:"投稿内容を255文字まで入力可" %></dd>
    <br>
    <dt><%= f.label :address %></dt>
    <dd><%= f.text_field :address,placeholder:"住所を50文字まで入力可" %></dd>
    <br>


     <% if @post.image? %>
      <div class="thumbnail">
      <%= image_tag @post.image.url %>
      </div>
    <% end %><br>

    <dt><%= f.label :image %></dt>
    <dd><%= f.file_field :image,autocomplete: "image" %></dd>
    <%= f.hidden_field :image_cache %>

    <% if action_name == 'new' %>
    <%= f.submit '投稿する' %>
    <% else %>
    <%= f.submit '更新する' %>
    <% end %>
  </dl>
<% end %>
