<%= render'application/sidebar' %>
<div class = "content_index">
  <div class = "content_inner">
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
      <h3>みんなの投稿一覧</h3>
    <div class="user_icon_box">
      <%= search_form_for @q, url: search_posts_path do |f| %>
        <ul class ="ulul">
          <li><%= f.label :address_cont, '住所' %></li>
          <li><%= f.search_field :address_cont ,placeholder:"住所を入力してね" %></li>
          <li><%= f.submit  '検索'%></li>
        </ul>
      <% end %>
    </div>
        <%= paginate @posts %>

    <div class= 'content_target'>
      <% @posts.each do |post| %>
        <%= link_to post_path(post), class:' post-color','data-turbolinks': false do %>
          <div class ="index_container alert alert-info ">
            <p><%= image_tag(post.image.to_s) %></p>
            <ul class = "sid_content">
              <li class="text-break"><span class="color">ユーザー名:</span><br><%= post.user.name %></li>
              <li class="text-break"><span class="color">タイトル:</span><br><%= post.title %></li>
              <li class="text-break"><span class="color">内容:</span><br><%= post.content %></li>
              <li class="text-break"><span class="color">住所:</span><br><%= post.address %></li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
