<h1>みんなの投稿一覧</h1>
<% @posts.each do |post| %>
  <div class = "content_index">
    <p><%= image_tag(post.image.to_s) %></p>
    <p><%= post.title %></p>
    <p><%= post.content %></p>
    <p><%= post.user.name %></p>
  </div>
  <% end %>
<%= link_to "新規投稿", new_post_path %> 
