<%= render'application/sidebar' %>

<div class = "content_index">
  <div class = "content_target">
    <h3>検索結果</h3>
    <% @results.each do |results| %>
    <div class = "index_container alert alert-info">
      <%= link_to post_path(results), class:' post-color','data-turbolinks': false do %>
        <p><%= image_tag(results.image.to_s) %></p>
          <div class = "sid_content">
            <p>投稿者:<%= results.user.name %></p>
            <p>タイトル:<%= results.title %></p>
            <p>内容:<%= results.content %></p>
            <p>住所:<%= results.address %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>