<%= render'application/sidebar' %>

<div class = "content_index">
  <div class = "content_target">
    <h3>検索結果</h3>
    <% @results.each do |results| %>
    <div class = "index_container alert alert-info">
      <p><%= image_tag(results.image.to_s) %></p>
        <div class = "sid_content">
          <p><%= results.title %></p>
          <p><%= results.content %></p>
          <p><%= results.user.name %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>