<%= render'application/sidebar' %>
<div class = "content_index">
	<div class = 'icon_box small'>
		<div class ='user_icon'>
			<%= image_tag(@post.user.image.to_s) %>
			<%=link_to "#{@post.user.name}", user_path(@post.user.id), class:'user_show_page' %>
		</div>
	

		<%= @post.title %>
		<%= @post.content %>
		<%= image_tag(@post.image.to_s) %>

		<% unless @post.user_id == current_user.id %>
			<% if @favorite.present? %>
				<%= link_to("/favorites/#{@post.id}/destroy", {method: "post"}) do %>
				<span class="fa fa-heart like-btn-unlike"></span>
				<% end %>
			<% else %>
				<%= link_to("/favorites/#{@post.id}/create", {method: "post"}) do %>
        <span class="fa fa-heart like-btn"></span>
			<% end %>
			<% end %>
		<% end %>






</div>

