<div class="listings">
  <div class="listings_channels">
    <h2 class="listings_header">Menu</h2>
    <ul class="channel_list">
    <br>
    <br>
      <li><%= sidebar_link_item('ホーム', posts_path) %></li>
    <br>
    <br>
      <li><%= sidebar_link_item('新規投稿', new_post_path) %></li>
    <br>
    <br>
      <li><%= sidebar_link_item('メッセージ一覧', conversations_path) %></li>
    <br>
    <br>
      <li><%= sidebar_link_item('お気に入り一覧', favorite_path(current_user.id)) %></li>
    <br>
    <br>
      <li><%= sidebar_link_item('Myプロフィール', user_path(current_user.id)) %></li>
    <br>
    <br>
    </ul>
  </div>
</div>